/**
 * @Author: Your name
 * @Date:   2023-05-12 19:50:20
 * @Last Modified by:   Your name
 * @Last Modified time: 2023-05-12 19:50:26
 */
.result1 {
    background-color: yellow;
    color: black;
  }
  
  .result2 {
    background-color: cyan;
    color: black;
  }
  